@use "../../styles/globals.scss";
$c: #ffffff;

.mainWrapper {
  //max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -10%;


  @extend  .poppinsRegular;

  .textBtnWrapper {
    width: 80%;
    letter-spacing: -0.2pt;
    padding-top: 20%;

    :nth-child(1) {
      margin-bottom: 35px;
      text-align: justify;
    }
  }
}

.logoImage {
  position: relative;
}

.logoImage > img {
  width: 210px;
  height: 290px;
  position: absolute;
  top: -184px;
  transform: rotateY(5deg) rotateZ(32deg) perspective(300px) scale(1.1);
  transform-origin: 38% center;
  left: 67px;
  border-radius: 3px;
  box-shadow: 5px -6px 7px 0px #000000;
}

.wrap {
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #000000;
  background: #ffffff;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(208, 208, 208, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ffffff;
  box-shadow: 0 0 60px rgba(229, 138, 138, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .4s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #444444;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

//.button::after {
//  content: '';
//  width: 30px; height: 30px;
//  border-radius: 100%;
//  border: 6px solid #737373;
//  position: absolute;
//  //z-index: 1;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  animation: ring 2.5s infinite;
//}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

//@keyframes ring {
//  0% {
//    width: 30px;
//    height: 30px;
//    opacity: 1;
//  }
//  100% {
//    width: 100px;
//    height: 100px;
//    opacity: 0;
//  }
//}
//






//.logoImage {
//  animation: easeOnEffect 1s ease-in;
//
//}
//
//@keyframes easeOnEffect {
//  0% {
//    transform: rotate3d(0, 1, 0.5, 3.142rad);
//  }
//  100% {
//    transform: translateX(0%);
//  }
//}