@use '../../styles/globals.scss';


.galleryWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 0 10%;
  background-color: #1b1b1b;

  grid-template-areas:
    "img1 img1 img2 img2"
    "img3 img3 img3 img3"
    "img4 img5 img5 img5"
    "img6 img6 img6 img6";

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img3 img3"
      "img2 img1"
      "img5 img4"
      "img6 img6";
    gap: 10px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6";
    gap: 8px;
  }
}


.image {
  border-radius: 5px;

  img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

    @media (max-width: 768px) {
      height: 50vh;
    }

    @media (max-width: 480px) {
      height: 25vh;
    }
  }
}

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }



.title {
  text-align: center;
  font-size: clamp(34px, 5vw, 164px);
  color: #ececed;
  margin: 10% 0 0 0;
  @extend .unboundFont
}
