@use '../../../styles/globals.scss';

.masterImage {
  max-width: 80%;
  box-shadow: 0px 2px 11px 3px #252525;
  border-radius: 10px;
  filter: brightness(75%);
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}
.swiper-slide{
  width: fit-content;
}

.masterPhoto {
  border-radius: 30px;
}
.masterName {
  margin-top: -17%;
  padding-bottom: 10%;
  color: #dcdcdc;
  margin-left: 0;
  font-size: clamp(24px, 3vw, 64px);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
  filter: brightness(90%);
  font-weight:300;
  @extend .unboundFontLight
}
