 @use '../../styles/globals.scss';

  .headerAdress{
    margin: 10% 0 -10% 10%;
    font-size: clamp(18px, 3vw, 64px);
    @extend .unboundFont
  }


.mapWrapper {
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  transition: none;
  filter: brightness(100%);
  background: linear-gradient(0deg, rgb(15, 15, 15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgb(15, 15, 15) 100%), url(/src/assets/barberPhotos/g1.jpg) no-repeat center / cover;
}

 .gMapWrapper{
   margin: -5% 0 4% 10%;
   font-size: clamp(18px, 3vw, 64px);
 }

 .map iframe{
   border-radius: 5px;
   box-shadow: #696969 1px 1px 20px 8px;
   height: 100%;
 }

 .map{
   height: 70vh;
 }

.mapWidthWrapper{
  border: #0f0f0f 120px solid;
  @media (max-width: 768px) {
    border: #0f0f0f 20px solid;
  }
}


header {
  text-align: center;
  font-size: clamp(34px, 5vw, 164px);
  color: #ececed;
  margin: 10% 0 0 0;
  z-index: 10;
  @extend .unboundFont
}
.container {
  width: 70vw;
  height: 60vh;
  margin: 15% 0% 0% 15%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 15%;
  }
}
.location {
  //font-size: 3vw;
  //font-weight: bold;
  //color: #9c8d68;
  display: flex;
  align-items: center;
}
.location::after {
  content: '\1F4CD'; /* Иконка местоположения */
  margin-left: 10px;
}
.contact, .hours {
  font-size: clamp(10px, 1.2vw, 24px);
  width: 33vw;
  color: #b6b6b6;
  @media (max-width: 480px) {
    width: 70vw;
  }
}
.contact{
  margin-right: 10%;
}
.headerContacts {
  font-size: clamp(14px, 2vw, 44px);
  text-transform: uppercase;
  color: #d6d6d6;
  margin-bottom: 5px;
  @extend .unboundFontLight
}
.contact p {
  margin: 5px 0;
}
.contact p strong {
  color: #ffffff;
}
.contact p a {
  color: #808080;
  text-decoration: none;
}
.contact p a:hover {
  text-decoration: underline;
}

.hours ul {
  list-style: none;
  padding: 0;
}
.hours li {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}